/* Variables */
:root {
    --main-color1: #56004E;
    --main-color2: #C0D8C6;
    --main-color3: #F2F7F4;
    --main-color4: #F7F2F6;
    --white: #FFFFFF;
}

/* Fonts */
@font-face {
    font-family: 'Quicksand';
    src: url('../fonts/Quicksand-Regular.ttf') format('truetype');
    font-weight: 400;
}

@font-face {
    font-family: 'Quicksand';
    src: url('../fonts/Quicksand-Bold.ttf') format('truetype');
    font-weight: 700;
}

body {
    font-family: 'Quicksand', sans-serif;
}

li {
    font-family: 'Quicksand', sans-serif;
}

a {
    font-family: 'Quicksand', sans-serif;
}

h1, h2, h3 {
    font-family: 'Quicksand', sans-serif;
}

/* Reset default styles */
body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}

/* Particles */

#particles-js {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 1;
    background-color: var(--main-color2);
}

.overlay-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    text-align: center;
}

.overlay-content h1 {
    font-size: 46px;
    font-weight: normal;
}

/* HTML */
html {
    scroll-behavior: smooth;
}

/* Hero */
.btn-1 {
    font-family: 'Quicksand', sans-serif;
    font-weight: 700; /* Bold for better visibility */
    background-color: var(--main-color1); /* Using your main color1 as the background */
    color: var(--main-color2); /* Using your main color2 for the text color for contrast */
    padding: 12px 24px; 
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1); 
    text-transform: uppercase; 
    letter-spacing: 1px; 
}

.btn-1:hover {
    background-color: var(--main-color4); 
    color: var(--main-color1);
    transform: scale(1.05); 
}

.btn-1:active {
    transform: scale(0.95); /* Slightly shrinking the button when clicked for interactive feedback */
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1); /* Reducing the shadow a bit to mimic pressing */
}

.btn-1 a {
    text-decoration: none;
    color: var(--white);
    font-weight: 500;
}

.btn-1:hover a {
    color: var(--main-color1);
}

/* Navbar */
.navbar {
    background-color: var(--main-color2);
    color: var(--main-color1);
    padding: 10px 0;
    top: 0;
    width: 100%;
    z-index: 0;
    margin: 0;
}

.navbar-fixed {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000; /* Ensure navbar is above all other content */
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    text-decoration: none;
    font-size: 24px;
    font-weight: normal;
    color: var(--main-color1);
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin-right: 20px;
}

.nav-links a {
    text-decoration: none;
    color: var(--main-color1);
    font-weight: 500;
    transition: color 0.3s ease;
}

.nav-links a:hover {
    color: var(--main-color4);
}

/* Body */

body, html {
    margin: 0;
    padding: 0;
    overflow: auto;
}



body h2 {
    color: var(--main-color1);
    font-weight: 400;
}

.section-header {
    text-align: center;
    padding: 20px;
}

.main-section {
    padding: 20px;
}

section {
    padding-top: 0; 
    width: 100%;
}

.landing-page {
    min-height: 100vh;
}

/* About */
.main-section.about-div {
    background-color: var(--main-color3);
    padding-top: 70px;
}

.about-content {
    display: flex;
    align-items: center;
    gap: 20px;
}

.about-image {
    width: 150px;
    height: 150px;
    border-radius: 50%; /* To make it a circular portrait */
    object-fit: cover; /* To ensure the image fits properly */
}

.about-content p {
    flex-grow: 1;
    font-size: 16px;
    line-height: 1.5;
}

/* Skills */
.main-section.skills-div {
    background-color: var(--main-color3);
}

/* Experience */
.main-section.experience-div {
    background-color: var(--main-color3);
}

/* Projects */
.main-section.projects-div {
    background-color: var(--main-color3);
}

.project-cards-container {
    display: flex;
    justify-content: space-between; /* Distribute space between cards */
    gap: 20px; /* Add space between cards */
    padding: 0 30px;
}

.project-card {
    flex: 0 0 calc(25% - 20px);
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    text-align: center;
    background-color: #fff;
    box-shadow: 0px 4px 6px var(--main-color2);
}

.project-card img {
    max-width: 100%;
    height: auto;
}

.project-card h3, p {
    color: var(--main-color1)
}

.btn-2 {
    font-family: 'Quicksand', sans-serif;
    font-weight: 700; /* Bold for better visibility */
    background-color: var(--main-color2); /* Using your main color1 as the background */
    color: var(--main-color1); /* Using your main color2 for the text color for contrast */
    padding: 12px 24px; 
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1); 
    text-transform: uppercase; 
    letter-spacing: 1px; 
    margin: 15px 5px 10px;
}

.btn-2:hover {
    background-color: var(--main-color4); 
    color: var(--main-color2);
    transform: scale(1.05); 
}

.btn-2:active {
    transform: scale(0.95); /* Slightly shrinking the button when clicked for interactive feedback */
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1); /* Reducing the shadow a bit to mimic pressing */
}

.btn-2 a {
    text-decoration: none;
    color: var(--white);
    font-weight: 500;
}

.btn-2:hover a {
    color: var(--main-color2);
}

@media (max-width: 768px) {
    /* Styles for smaller screens */
    .project-cards-container {
        flex-direction: column;
    }

    .project-card {
        flex: 0 0 100%;
    }
}



/* Contact */
/* Style for the embedded Google Form */
.main-section.contact-div {
    background-color: var(--main-color3);
}

iframe {
    border: none; 
    width: 100%; 
    height: 800px;
    max-width: 800px; 
    margin: 0 auto; 
    margin-bottom: 20px;
    overflow: hidden; /* Hide scrollbars */
    display: block;
}


/* Footer */
.footer {
    background-color: var(--main-color2);
    color: var(--main-color1);
    padding: 20px 0; 
    position: relative;
    margin-top: 0px;
}

/* Socials */
.social-icons {
    display: flex; 
    justify-content: center; 
    align-items: center;
    width: 100%;
}

.social-icons a {
    margin: 0 10px; 
}

.social-icons img {
    width: 32px;
    height: 32px;
}