/* Variables */
:root {
    --main-color1: #56004E;
    --main-color2: #C0D8C6;
    --main-color3: #FFD700;
    --main-color4: #9B59B6;
    --white: #FFFFFF;
}

/* Fonts */
@font-face {
    font-family: 'Quicksand';
    src: url('../fonts/Quicksand-Regular.ttf') format('truetype');
    font-weight: 400;
}

@font-face {
    font-family: 'Quicksand';
    src: url('../fonts/Quicksand-Bold.ttf') format('truetype');
    font-weight: 700;
}

body {
    font-family: 'Quicksand', sans-serif;
}

li {
    font-family: 'Quicksand', sans-serif;
}

a {
    font-family: 'Quicksand', sans-serif;
}

h1, h2, h3 {
    font-family: 'Quicksand', sans-serif;
}

/* Reset default styles */
body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}

/* Navbar */
.navbar {
    background-color: var(--main-color2);
    color: var(--main-color1);
    padding: 10px 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
    color: var(--main-color1);
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin-right: 20px;
}

.nav-links a {
    text-decoration: none;
    color: var(--main-color1);
    font-weight: 500;
    transition: color 0.3s ease;
}

.nav-links a:hover {
    color: var(--main-color4);
}

/* Body */

body {
    padding-top: 47.5px;
}

body h2 {
    color: var(--main-color1);
    font-weight: 400;
}

.section-header {
    text-align: center;
    padding: 20px;
}

.main-section {
    padding: 10px;
}

/* Projects */
.project-cards-container {
    display: flex;
    justify-content: space-between; /* Distribute space between cards */
    gap: 20px; /* Add space between cards */
    padding: 0 30px;
}

.project-card {
    flex: 0 0 calc(25% - 20px);
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    text-align: center;
    background-color: #fff;
    box-shadow: 0px 4px 6px var(--main-color2);
}

.project-card img {
    max-width: 100%;
    height: auto;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: var(--main-color1);
    color: var(--main-color2);
    text-decoration: none;
    border-radius: 5px;
}

.btn:hover {
    background-color: var(--main-color4);
}


/* Contact */
/* Style for the embedded Google Form */
iframe {
    border: none; 
    width: 100%; 
    max-width: 800px; 
    margin: 0 auto; 
    margin-bottom: 20px;
}


/* Footer */
.footer {
    background-color: var(--main-color2);
    color: var(--main-color1);
    padding: 20px 0; 
    position: relative;
    margin-top: 0px;
}

/* Socials */
.social-icons {
    display: flex; 
    justify-content: center; 
    align-items: center;
    width: 100%;
}

.social-icons a {
    margin: 0 10px; 
}

.social-icons img {
    width: 32px;
    height: 32px;
}